@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

.block__box {
  background-color: #191d48;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: repeat(2, 60px) 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-areas:
    'block__one block__one'
    'block__three block__two'
    'block__three block__four'
    'block__three block__four'

  ;
}

.block__one {

  grid-area: block__one;
}

.block__two {

  grid-area: block__two;
}

.block__three {

  grid-area: block__three;
}

.block__four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  grid-area: block__four;
}

.create__cart {
  width: 250px;
  display: grid;
  border: 1px solid #ffffff70;
  box-shadow: 0px 2px 6px 3px rgba(255, 255, 255, 0.24);
  grid-template-columns: 200px 50px;
  grid-template-rows: 200px 50px;
  grid-template-areas:
    'BlockOne BlockTwo'
    'BlockThree BlockTwo';
}

.create__BlockOne {
  background: #2a0c3c;
  grid-area: BlockOne;
}

.create__BlockTwo {


  grid-area: BlockTwo;
}

.create__BlockThree {
  background: #2a0c3c;
  grid-area: BlockThree;
}

.create__textArea {
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  text-align: end;
  padding: 10px;
  border: none;
  resize: none;
  outline: none;
  background: #2a0c3c;
}

.create__textArea:focus {
  outline: none;
  border: none;
  resize: none;

}